.container4 {
    width: 70%;
    margin: auto;
   display: flex;
   flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    color: black;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}



.color-pickers {
    text-align: center;
    margin-top: 20px;
}

.color-pickers div {
    margin: 10px;
}

.color-pickers input[type="color"] {
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}

.photo4{
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
